/*globall*/
body{
 font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.image img{
    display: block;
    width: 100%;
    height: 100%;
}
.center-position{
    text-align: center;
}
.container{
  max-width: 1200px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.pink-color{
    color: #ed145b;
}
.btn{
    background: #ed145b;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 1em 2em;
    text-transform: uppercase;
    border-radius: 10em;
}
.page-section{
    padding: 100px 0;
}
.section-title{
    font-size: 1.7em;
    font-weight: 500;
    color: #5a5a5a;
}
.page-text{
    color: #fff;
    line-height: 1.5em;
}
/*header*/
.page-header{
    color: #fff;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
}
.logo{
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: .5em;
    color: #fff;
}
.hamburger{
    background: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding-right: .5em;
    border:none;
    color: #fff;
}
.page-nav{
    width: 100%;
    position: absolute;
    top:100%;
}
.page-nav .nav-list{
    text-align: center;
    margin-top: 1em;
}
.page-nav .nav-list .nav-item{
    padding: .5em;
}
.page-nav .nav-list .nav-item a{
    font-size: 1.1rem;
}
.hamburger .close-icon, .nav-list{
    display: none;
}
.page-header.nav-opened .open-icon{
    display: none;
}
.page-header.nav-opened .close-icon, .page-header.nav-opened .nav-list{
    display: block;
}
/*----------main--------------*/
.top-section{
    background: url(../img/bgS.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-section p{
    margin: 50px 0;
}
.top-title{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
}
.bold{
    font-weight: 700;
}
.top-title:after, .section-title:after{
    display: block;
    margin: 35px auto;
    content: '';
    border-bottom: 3px solid #ed145b;
    width: 200px;
}
.section-title-left:after{
    margin: 35px 0;
}
/*--------about-section-----------*/
.about-section{
    background: #f4f4f4;
}
.about-section .page-text{
    margin-bottom: 35px;
    color: #5a5a5a;;
}
.btn-about{
    background: none;
    color: #ed145b;
    padding:0;
    display: flex;
    align-items: center;
}
.fa-play-circle{
    font-size: 1.7em;
    margin-left: 0.5em;
}
.image{
    margin: 2em auto;
}
/*-----------service-section-----------*/
.section-list{
    text-align: center;
}
.section-item{
    margin: 2em auto;
}
.sub-title{
    color: #5a5a5a;
}
.icon-rounded{
    border: 2px solid #dadada;
    width: 80px;
    height: 80px;
    padding: 3em;
    border-radius: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.under-title{
    text-transform: uppercase;
    margin-top: 1em;
    display: block;
}
/*--------------aside---------------*/
.aside{
    background: url(../img/bgS.jpg) no-repeat;
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aside .page-text{
    margin: 2em 0;
}
.fas-quote{
    font-size: 2.5em;
}
/*-----------prices-section----------*/
.prices-section{
    background: #f4f4f4;
}
.plate-top{
    background: #5a5a5a;
    padding: 3em 0;
}
.price-size{
    font-size: 2em;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    margin: 2em 0;
}
.type-card{
    background: #f4f4f4;
    width: 200px;
    border-radius: 60px;
    margin-top: -26px;
    align-self: center;
    padding: 1em 0;
}
.type-card p{
    text-transform: uppercase;
}
.card-item{
    margin: 2em 0;
    color: #5a5a5a;
}
.plate-bottom {
   padding-bottom: 3em;
}
.plate-bottom .btn{
    width: 200px;
}
/*----------info-section-------------*/
.article-title{
    text-transform: uppercase;
    color: #ed145b;
    margin-bottom: 1em;
}
.article-text{
    color: #5a5a5a;
}
.page-article{
    display: flex;
    margin: 2em 0;
}
.article-wrapper{
    margin-left: 1em;
}


