/*globall*/
body{
 font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.img{
    display: block;
    width: 100%;
    height: 100%;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.pink-color{
    color: #ed145b;
}
.btn{
    background: #ed145b;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 1em 2em;
    text-transform: uppercase;
    border-radius: 10em;
}
.btn-big{
    width: 200px;
}
.page-section{
    padding: 100px 0;
}
.section-title{
    font-size: 1.7em;
    font-weight: 500;
    color: #5a5a5a;
    text-align: center;
}
.section-title-left{
    text-align: left;
}
.page-text{
    color: #fff;
    line-height: 1.5em;
}
.flex-display{
    display: flex;
    flex-direction: column;
}
.flex-display-center{
    justify-content: center;
    align-items: center;
}
.margin-top{
    margin-top: 1.5em;
}
.margin-top-bottom{
    margin: 2em auto;
}
/*header*/
.page-header{
    color: #fff;
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    background: rgb(0,0,0,0.3);
}
.logo{
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: .5em;
    color: #fff;
}
.hamburger{
    background: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding-right: .5em;
    border:none;
    color: #fff;
}
.page-nav{
    width: 100%;
    position: absolute;
    top:100%;
    background: rgba(237,20,91,0.9);
}
.page-nav .nav-list{
    text-align: center;
    padding: 1em 0;
}
.page-nav .nav-list .nav-item{
    padding: .5em;
}
.page-nav .nav-list .nav-item a{
    font-size: 1.1rem;
}
.hamburger .close-icon, .nav-list, .page-header.nav-opened .open-icon{
    display: none;
}
.page-header.nav-opened .close-icon, .page-header.nav-opened .nav-list{
    display: block;
}
/*----------main--------------*/
.top-section{
    background: url(../img/bgS.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    position: relative;
}
.top-section p{
    margin: 50px 0;
}
.top-title{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
}
.bold{
    font-weight: 700;
}
.top-title:after, .section-title:after{
    display: block;
    margin: 35px auto;
    content: '';
    border-bottom: 3px solid #ed145b;
    width: 200px;
}
.section-title-left:after{
    margin: 35px 0;
}
/*--------about-section-----------*/
.about-section{
    background: #f4f4f4;
}
.about-section .page-text{
    margin-bottom: 35px;
    color: #5a5a5a;;
}
.btn-about{
    background: none;
    color: #ed145b;
    padding:0;
    display: flex;
}
.fa-play-circle{
    font-size: 1.7em;
    margin-left: 0.5em;
}
/*-----------service-section-----------*/
.section-list{
    text-align: center;
}
.sub-title{
    color: #5a5a5a;
    text-align: center;
}
.icon-rounded{
    border: 2px solid #dadada;
    width: 80px;
    height: 80px;
    padding: 3em;
    border-radius: 100%;
    margin: 0 auto;
    display: flex;
}
.under-title{
    text-transform: uppercase;
    display: block;
}
/*--------------aside---------------*/
.aside{
    background: url(../img/bgS.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;
    text-align: center;
}
.fas-quote{
    font-size: 2.5em;
}
/*-----------prices-section----------*/
.prices-section{
    background: #f4f4f4;
}
.plate-top{
    background: #5a5a5a;
    padding: 3em 0;
}
.price-size{
    font-size: 2em;
}
.card{
    background: #fff;
    text-align: center;
}
.type-card{
    background: #f4f4f4;
    width: 200px;
    border-radius: 60px;
    margin-top: -26px;
    align-self: center;
    padding: 1em 0;
}
.type-card p{
    text-transform: uppercase;
}
.card-item{
    color: #5a5a5a;
}
.plate-bottom {
   padding-bottom: 3em;
}
/*----------news-section-------------*/
.article-title{
    text-transform: uppercase;
    color: #ed145b;
    margin-bottom: 1em;
}
.article-text{
    color: #5a5a5a;
}
.page-article{
    display: flex;
}
.article-wrapper{
    margin-left: 1em;
}
/*-------------aditional-info----------------*/
.aditional-info{
    background:#ed145b;
    padding: 4em;
}
.adtional-text{
    text-align: center;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 200;
}
.btn-white{
    background: #fff;
    color: #ed145b;
}
/*---------------news-section-----------------*/
.news-section .article-title{
    color: #5a5a5a;
}
.news-article{
    background: #f4f4f4;
    padding: 1.5em;
}
.btn-transparent{
    background: none;
    color: #424242;
    transition: all 0.3s ease;
}
.fa-angle-down{
    font-size: 1.5em;
    align-self: center;
}
.btn-transparent:hover{
    color: #ed145b;
    cursor: pointer;
}
/*---------------aside-2----------------*/
.aside .section-header .section-title, .aside .section-header .sub-title{
    color: #fff;
}
.aside-2{
    height: 100vh;
}
/*------download-section--------*/
.download-section{
    background: #f4f4f4;
}
.download-section .btn{
    width: auto;
}
/*-----footer-------*/
.footer{
    background: #2b2b2b;
    padding: 2em;
}
.footer-text{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
