/*globall*/
body{
 font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.container{
  max-width: 1200px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.pink-color{
    color: #ed145b;
}
.btn{
    background: #ed145b;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 1em 2em;
    text-transform: uppercase;
    border-radius: 10em;
}
.page-section{
    margin: 100px 0;
}
/*header*/
.page-header{
    color: #fff;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
}
.logo{
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: .5em;
    color: #fff;
}
.hamburger{
    background: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding-right: .5em;
    border:none;
    color: #fff;
}
.page-nav{
    width: 100%;
    position: absolute;
    top:100%;
}
.page-nav .nav-list{
    text-align: center;
    margin-top: 1em;
}
.page-nav .nav-list .nav-item{
    padding: .5em;
}
.page-nav .nav-list .nav-item a{
    font-size: 1.1rem;
}
.hamburger .close-icon, .nav-list{
    display: none;
}
.page-header.nav-opened .open-icon{
    display: none;
}
.page-header.nav-opened .close-icon, .page-header.nav-opened .nav-list{
    display: block;
}
/*----------main--------------*/
.top-section{
    background: url(../img/bgS.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    position: relative
}
.content-wrapper{
    top:50%;
    transform: translate(0,-50%);
    position: absolute;
    margin: 0 auto;
}
.content-wrapper p{
    margin: 50px 0;
}
.top-title{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
}
.bold{
    font-weight: 700;
}
.top-title:after{
    display: block;
    margin: 35px auto;
    content: '';
    border-bottom: 3px solid #ed145b;
    width: 200px;
}
/*--------about-section-----------*/
.title{
    color: black;
}
